name: 'Add reviewers'
on:
  pull_request_target:
    jobs:
      triage:
        runs-on: ubuntu-latest
        steps:
        - name: Automatically assign reviewers
          if: ${{ github.event.action == 'opened' }}
          uses: kentaro-m/auto-assign-action@v1.1.2